mixin metatags-facebook(metadata)
  meta(property='og:type' content='website')
  meta(property='og:url' content=metadata.url)
  meta(property='og:title' content=metadata.title)
  meta(property='og:description' content=metadata.description)
  meta(property='og:image' content=metadata.image)
