mixin metatags-twitter(metadata)
  meta(property='twitter:type' content='website')
  meta(property='twitter:url' content=metadata.url)
  meta(property='twitter:title' content=metadata.title)
  meta(property='twitter:description' content=metadata.description)
  meta(property='twitter:image' content=metadata.image)
